:root {
    font-size: 60%; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
/* html, body, #root {
    height: 100vh;
} */
  
body {
    background-color: #F0F0F7;
}
  

body,
input,
button,
textarea {
    font:400 1.6rem Roboto Slab;
}
  
@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

header #header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2b0548;
    height: 20rem;
    border-bottom: 4px solid #531781;
}

header .contentHender {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 1rem;
}

header .contentHender .primeiraFaixa {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .contentHender .usuario #imgConta {
    background-size: cover;
}

.usuario strong{
    flex: 1;
    color: white;
    width: 50%;
    padding-left: 0.5rem;
    font: 1.6rem Poppins;
}

header .contentHender .usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    padding-left: 0.5;
}


.teste {
    display: inline-flexbox;
}

main {
    padding-left: 25%;
    padding-right: 25%;
}

main .contentForm {
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 8px;
    position: relative;
}

main #content {
    box-sizing: border-box;
}

fieldset {
    border: 0;
    font: 1.6rem Archivo; 
}

fieldset#DadosEvent {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 3rem 5rem;
}

legend {
    border-bottom: 1.5px solid #E6E6F0;
    width: 100%;
    padding: 1.5rem 0 1.5rem;
    color: #2b0548;
    font-size: 2.5rem;
    font: 700 3rem Archivo ; 
}

legend#legendEvent {
    margin-top: 2rem;
}

fieldset#DatadoEvento {
    padding: 0 4rem 0rem 4rem;
}

label {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font: 1.6rem Archivo; 
    color: #9C98A6;
}

div .grupoDataEvento {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}

input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(211, 210, 210);
    background-color: #E6E6F0;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

select {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(211, 210, 210);
    background-color: #E6E6F0;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

textarea {
    width: 100%;
    height: 16rem;
    min-height: 8rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid  rgb(211, 210, 210);;
    background-color:  #E6E6F0;
    resize: vertical;
    padding: 1.2rem 1.6rem;
    font: 1.6rem Archivo;   
}

footer {
    padding: 4rem 2.4rem;
    background: #fafafc;
    border-top: 1px solid  #e6e6f0;
    margin-top: 6.4rem;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-around;
}

footer button#submit {
    width: 20rem;
    height: 5.5rem;
    border: 0;
    border-radius: 8px;
    background-color: #2b0548;
    color: white;
}

footer button#submit:hover {
    background-color: #531781;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    header .contentHender {
        width: 100%;
    }

    main {
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
}

@media (max-width: 700px) {
    main .contentForm {
        padding: 1rem;
        padding-left: 0%;
        padding-right: 0%;
    }

    main {
        padding-left: 0%;
        padding-right: 0%;
        box-sizing: border-box;
    }

    div .grupoDataEvento {
        display: block;
    }
    
    div #selectMes {
        margin-top: 1rem;
    }

    div #inputHorario {
        margin-top: 1rem;
    }
}
