:root {
  font-size: 60%; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100vh;
}

body {
  background-color: #F0F0F7;
  display: flex;
  align-items: center;
  justify-content: center;
}


body,
input,
button,
textarea {
  font:400 1.6rem Roboto Slab;
}

@media (min-width: 700px) {
  :root {
      font-size: 62.5%;
  }
}
