div#container {
    width: 100vw;
    height: 100vh;
    align-items: stretch;
    display: flex;
}
  
.content_login {
    width: 100%;
    background-color: #E6E6F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.logoContent {
    margin-bottom: 5rem;
}

#loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
    margin-bottom: 3.0rem;
    width:  35rem;
    height: 5rem;
    margin-bottom: 3rem;
    padding: 0 4.5rem;
    
    border: none;
    outline: 0;
    border-bottom: 2px solid #2b0548;
    color: #2b0548;
    background-color: #E6E6F0;
}

input#email {
    background-image: url("../icons/Email.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

input#password {
    background-image: url("../icons/Password.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

button#submit {
    margin: 2rem 0 2.5rem;
    width: 17rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 1.5rem;
    outline: 0;
    background-color: #2b0548;
    color: white;
    cursor: pointer;
}

button#submit:hover {
    background-color: #531781;
    transition: 0.5s;
}

span {
    font-size: 1.8rem;
}

a#cadastrar {
    color: #2b0548;
    text-decoration: none;
    font-size: 2rem;
}

a#cadastrar:hover {
    color: #531781;
}
 